<!--The whole content below can be removed with the new code.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  ... Starter Files ...
</div> -->

<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav navbar-nav'>
    <li><a class='nav-link' [routerLink]="['/welcome']">Home</a></li>
    <li><a class='nav-link' [routerLink]="['/products']">Grocery List</a></li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="['/products/0/edit']">Add Grocery</a>
     </li>

   </ul>
</nav>   
<div class='container'>
<router-outlet></router-outlet>
</div> 
