<div class='card'
     *ngIf='product'>
  <div class='card-header'>
    {{pageTitle + ': ' + product.productName}}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Name:</div>
          <div class='col-md-8'>{{product.name | titlecase}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Price:</div>
          <div class='col-md-8'>{{product.price | currency:'GBP':'symbol':'1.2-2'}}</div>
        </div>        
        <div class='row'>
          <div class='col-md-4'>Quantity In Stock:</div>
          <div class='col-md-8'>{{product.stockQty}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Stock Updated On:</div>
          <div class='col-md-8'>{{product.stockUpdatedOn | date: 'dd/MM/yyyy'}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>5 Star Rating:</div>
          <div class='col-md-8'>
            <pm-star [rating]='product.starRating'>
            </pm-star>
          </div>
        </div>
      </div>

      <!-- <div class='col-md-4'>
        <img class='center-block img-responsive'
             [style.width.px]='200'
             [style.margin.px]='2'
             [src]='product.imageUrl'
             [title]='product.productName'>
      </div> -->
    </div>
  </div>

  <div class='card-footer'>
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>